body {
    font-family: Arial, sans-serif;
    background-color: #ECF4D6;
    color: #265073;
    margin: 0;
    padding: 0;
}

#skills {
    background-color: #ECF4D6;
    padding: 20px;
    text-align: center;
}

#skills h1 {
    color: #265073;
    margin-bottom: 20px;
    font-size: 50px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    background-color: #2D9596;
    color: #ECF4D6;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    flex: 1 0 45%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.skill:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}
.nav-container {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 55px;
}

.nav-img {
    width: 10%;
    height: auto;
    margin-right: 20px;
}
header {
    background-color: #265073;
    color: #fff;
    padding: 20px;
    text-align: right;
}

nav {
    background-color: #2D9596;
    color: #fff;
    padding: 8px;
    text-align: right;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}
nav li {
    margin-left: 20px;
    padding-right: 50px;
    font-size: 30px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: #fff;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #265073;
    background-color: #9AD0C2;
    height: 170px; /* Adjust as needed */
    line-height: 0.35; /* Adjust as needed */
}